<!doctype html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="./style.css" />

  </head>
  <body>

    <section id="hire">
      <form class="searchbox" action="/search">

        <h1>Movie OMDB</h1>

          <input type="search" placeholder="search.." name="searchTerm" >
          <ul class="suggestions">
              <li><a href="#">X-Men...</a></li>
              <li><a href="#">Spiderman...</a></li>
              <li><a href="#">Captain America...</a></li>
              <li><a href="#">When Harry met Sally...</a></li>
          </ul>
          <input type="submit">

      </form>


    </section>

  </body>
</html>
<!--

<h1>Search for Movie on OMDB</h1>
<form action="/search">
  <input type="text" placeholder="key in search term" name="searchTerm">
  <input type="submit">
</form> -->
